{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block account %}

    <ul class = "navbar-nav ml-auto">
        <li class = "nav-item dropdown">

            {% if user %}

                <a class = "nav-link dropdown-toggle" id = "account" role = "button" data-toggle = "dropdown" aria-haspopup = "true" aria-expanded = "false">
                    <img src = "{{ user['avatar'] }}" style = "height: 25px;"> {{ user["username"] }}<small style = "color: grey;">#{{ user["discriminator"] }}</small>
                </a>
                <div class = "dropdown-menu dropdown-menu-right" aria-labelledby = "account">
                    <a class = "dropdown-item" href = "/manage">Manage Servers</a>
                    <div class = "dropdown-divider"></div>
                    <a class = "dropdown-item" href = "/logout" style = "color: red !important;">
                        <i class = "fas fa-sign-out-alt"></i> Logout
                    </a>
                </div>

            {% else %}

                <a class = "nav-link" role = "button" href = "/discord/auth">
                    
                    <i class="fas fa-sign-in-alt"></i> Login with Discord
                    
                </a>

            {% endif %}

        </li>
    </ul>

{% endblock %}

{% block content %}

    <div id = "content" align = "center">

        <div style = "margin-top: 5%; padding-bottom: 35px;">

            <h3>Prism Developer / Moderator Application</h3>

            <br>

            <form action = "/apply" method = "POST">
                <div class = "form-row">
                    <div class = "form-group col-md-6">
                        <label for = "nameInput">Name</label>
                       <input type = "name" class = "form-control" id = "nameInput" name = "name">
                    </div>
                    <div class = "form-group col-md-6">
                        <label for = "inputEmail">Email</label>
                        <input type = "email" class = "form-control" id = "inputEmail" name = "email">
                    </div>
                </div>
                <div class = "form-group">
                    <div class = "form-check">
                        <input class = "form-check-input" type = "checkbox" id = "gridCheck">
                        <label class = "form-check-label" for = "gridCheck">
                            Check me out
                        </label>
                    </div>
                </div>
                <button type = "submit" class = "btn btn-outline-success">Submit Application</button>
            </form>


{% endblock %}